<div class="page-404 container">
	<div class="row extra">
		<h2>404</h2>
		<p>You reached the end of the internet. Just kidding.</p>
		<p>This page doesn't exist.</p>
		<p>Please go to the <a href="http://viva-zapata-bags-2.myshopify.com">home page</a></p>
	</div>
</div>